
.contact-section {
    width: 90vw;
    margin-inline: auto;
    align-items: center;
    --grid-gap:4rem;
    margin-block: 3rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 'one'
    'two';
}

.contact-section:nth-child(1){
    grid-area: one;
}

.contact-section:nth-child(2){
    grid-area: two;
}

.contact-form{
    margin-block: 2rem;
    --grid-gap:2rem;
}

.contact-form input{
    width: 100%;
    border: 0;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.contact-form input:focus{
    outline: none;
}

.contact-form textarea{
    width: 100%;
    border: 0;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.contact-btn >button{
    padding: 1rem 3rem;
    font-size: 1rem;
}

.map{
    background-color: hsl(var(--clr-red)/0.2);
    padding: 1rem 2rem;
    margin-block: 2rem;
    position: relative;
}

.map:before{
    content: ' ';
    width: 5px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: hsl(var(--clr-red));
    position: absolute;
}


/* ========== media queries --------- */

@media (min-width:45em){
    .contact-section{
        grid-template-areas:'one two' ;
    }


    .contact-section:nth-child(1){
        grid-area:one ;
    }

    .contact-section:nth-child(2){
        grid-area:two ;
    }

    .contact-us h1{
        font-size: 1rem;
    }

    .map h4{
        font-size: 1rem;
    }
}

/* ==========support =========== */

.support-container{
    width: 90vw;
    margin-inline: auto;
    margin-bottom: 4rem ;
    /* align-items: center;
    justify-content: center; */
    place-content: center;
    --grid-gap:3rem;
    grid-auto-columns: auto;
    grid-template-areas:
    'one'
    'two'
    'three'
    'four' ;
}

.support-container:nth-child(1){
    grid-area: one;
}

.support-container:nth-child(2){
    grid-area: two;
}
.support-container:nth-child(3){
    grid-area: three;
}
.support-container:nth-child(4){
    grid-area: four;
}

.support-info{
    --grid-gap:1rem;
    place-items: center;
}

.support-img{
    place-items: center;
}

@media (min-width:45em){
    .support-container{
        grid-template-areas: 'one two three four';
    }

    .support-info > p
    .support-info span{
        font-size: 1rem;
    }
}