/* custom properties */

:root {
  /* color */
  --clr-gray: 0 0% 86.3%;
  --clr-gray-Light: 0 0% 93.3%;
  --clr-red: 356.7 90.1% 56.5%;
  --clr-black: 0 0% 21.2%;
  --clr-yellow: 43.8 99% 58.8%;
  --clr-very-Light-gray: 300 2.7% 92.7%;
  --clr-green: 144.3 64.4% 49.6%;
  --clr-blue: 214.5 100% 53.9%;
  --clr-white: 0 0% 100%;

  /* font-size */
  /* --fs-bf-194: 12.125rem; */

  --fs-bf-194: 12.3vw;
  --fs-bf-109: 6.8125rem;
  --fs-bf-65: 4.065rem;
  --fs-bf-80: 5rem;
  --fs-bf-50: 3.125rem;
  --fs-bf-45: 2.8125rem;
  --fs-bf-30: 1.875rem;
  --fs-bf-20: 1.25rem;
  --fs-bf-16: 1rem;
  --fs-bf-15: 0.9375rem;

  /* font family */
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}


/* ============Media queries for font size=================== */

@media (max-width:35em){
:root{
  --fs-bf-194: 12.3vw;
  --fs-bf-109: 6.8125rem;
  --fs-bf-65: 4.065rem;
  --fs-bf-80: 5rem;
  --fs-bf-50: 3.125rem;
  --fs-bf-45: 2.8125rem;
  --fs-bf-30: 1.875rem;
  --fs-bf-20: 1rem;
  --fs-bf-16: 0.8rem;
  --fs-bf-15: 0.8375rem;
}
}
@media (min-width:35em) and (max-width:55em){
  :root{
    --fs-bf-194: 12.3vw;
    --fs-bf-109: 6.8125rem;
    --fs-bf-65: 4.065rem;
    --fs-bf-80: 5rem;
    --fs-bf-50: 3.125rem;
    --fs-bf-45: 2.8125rem;
    --fs-bf-30: 2.55rem;
    --fs-bf-20: 1.25rem;
    --fs-bf-16: 1rem;
    --fs-bf-15: 0.8375rem;
  }
}
@media (max-width:59em){
  :root{
    --fs-bf-194: 12.3vw;
    --fs-bf-109: 6.8125rem;
    --fs-bf-65: 4.065rem;
    --fs-bf-80: 5rem;
    --fs-bf-50: 3.125rem;
    --fs-bf-45: 2.8125rem;
    --fs-bf-30: 1.875rem;
    --fs-bf-20: 2rem;
    --fs-bf-16: 1rem;
    --fs-bf-15: 0.9375rem;
  }
}

/* //Defualt Reset======== */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Removing default margin */

body,
h1,
h2,
h3,
h4,
P,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* removing list style */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* /set core root defaults============ */

html::focus-within {
  scroll-behavior: smooth; 
}

/* set core body default======== */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A element that don't have a class get default style=== */
I a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* make image easier to work with======▪▪▪▪▪ */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons======== */
input,
button,
textarea,
select {
  font: inherit;
}

::-webkit-scrollbar {
  display: none;
}

/* Remove all animation, transition & smooth scroll for people that prefer
not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *::after,
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}

/* == End Of Gernal Reset==== */

/* ========================================= */

/* Some Important Utility Class */

/* ========================================= */

body {
  overflow-x: hidden;
}

/* ///////Background-color Utility Class */
.bg-red {
  background-color: hsl(var(--clr-red));
}
.bg-black {
  background-color: hsl(var(--clr-black));
}
.bg-blue {
  background-color: hsl(var(--clr-blue));
}
.bg-gray {
  background-color: hsl(var(--clr-gray));
}
.bg-green {
  background-color: hsl(var(--clr-green));
}
.bg-gray-light {
  background-color: hsl(var(--clr-gray-Light));
}
.bg-very-light-gray {
  background-color: hsl(var(--clr-very-Light-gray));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}
.bg-yellow {
  background-color: hsl(var(--clr-yellow));
}

/* Text utility classes */

.text-red {
  color: hsl(var(--clr-red));
}
.text-black {
  color: hsl(var(--cLr-black));
}
.text-blue {
  color: hsl(var(--clr-blue));
}
.text-gray {
  color: hsl(var(--clr-gray));
}
.text-green {
  color: hsl(var(--clr-green));
}
.text-gray-light {
  color: hsl(var(--clr-gray-Light));
}
.text-very-light-gray {
  color: hsl(var(--clr-very-Light-gray));
}
.text-white {
  color: hsl(var(--clr-white));
}
.text-yellow {
  color: hsl(var(--cLr-yellow));
}

/* =====Font Size====‒‒‒‒‒‒‒‒‒‒‒‒ */

.fs-900 {
  font-size: var(--fs-bf-194);
}
.fs-800 {
  font-size: var(--fs-bf-109);
}
.fs-700 {
  font-size: var(--fs-bf-80);
}
.fs-600 {
  font-size: var(--fs-bf-65);
}
.fs-500 {
  font-size: var(--fs-bf-50);
}
.fs-400 {
  font-size: var(--fs-bf-45);
}
.fs-300 {
  font-size: var(--fs-bf-30);
}
.fs-200 {
  font-size: var(--fs-bf-20);
}
.fs-100 {
  font-size: var(--fs-bf-16);
}
.fs-500 {
  font-size: var(--fs-bf-15);
}

/* ========Font Blod======== */

.bold-100 {
  font-weight: 100;
}
.bold-200 {
  font-weight: 200;
}
.bold-300 {
  font-weight: 300;
}
.bold-400 {
  font-weight: 400;
}
.bold-500 {
  font-weight: 500;
}
.bold-600 {
  font-weight: 600;
}
.bold-700 {
  font-weight: 700;
}
.bold-800 {
  font-weight: 800;
}
.bold-900 {
  font-weight: 900;
}
.bold-bold {
  font-weight: bold;
}
.bold-bolder {
  font-weight: bolder;
}

/* =====font family===== */

.fs-poppins {
  font-family: var(--font-poppins);
}
.fs-montserrat {
  font-family: var(--font-montserrat);
}
/* ===========End of Utility Class====  */
/* ========Component Utility Class=   */

.uil {
  cursor: pointer;
}
.flex {
  display: flex;
  gap: var(--flex-gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--flex-gap, 1rem);
}

.container {
  width: 98vw;
  margin-inline: auto;
  padding-inline: 2rem;
}

/* ===End of utility component Classes */

/* =========Header Start============ */

.primary-header {
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
}

.header-inner-one {
  align-items: center;
}
.logo {
  margin-right: 2rem;
}

.mobile-close-btn {
  display: none;
}
.primary-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  --flex-gap: 3rem;
}

.primary-navigation a {
  text-decoration: none;
  color: hsl(var(--clr-black) / 0.6);
  cursor: pointer;
}
.primary-navigation .active {
  color: #000;
}

.header-login {
  justify-content: space-between;
  align-items: center;
  --flex-gap: 2rem;
}

.header-login .uil-shopping-bag {
  font-size: 2rem;
  position: relative;
}

.header-login .uil-shopping-bag::after {
  content: "0";
  width: 1rem;
  position: absolute;
  background-color: hsl(var(--clr-red));
  height: 1.2rem;
  margin-top: -3rem;
  margin-left: 1rem;
  border-radius: 0.3rem;
  display: grid;
  color: hsl(var(--clr-white));
  font-size: 1rem;
  font-weight: 700;
  /* padding: 0.1rem; */
}

.mobile-open-btn {
  display: none;
}

/* =====cart ===========*/

.cart-icon {
    position: absolute;
    inset: 0% 30% 0% 0%;
    background-color: hsl(var(--clr-very-Light-gray));
    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;
    z-index: 1111;
  }
  
  .cart-icon[data-visible="true"] {
    transform:translateX(0%) ;
  }
  
  .shopping{
      padding: 2rem;
      justify-content: space-between;
      align-items: center;
  }
  
  .shopping > p{
      font-size: var(--fs-bf-20);
      font-family: var(--font-montserrat);
  }
  
  .shopping > i{
      font-size: 1.5rem;
      color: hsl(var(--clr-black) / 0.8);
      transition: transform 250ms ease-in-out;
  }
  .shopping i:hover{
      transform: rotate(90deg);
  }
  .cart{
      flex-direction: column;
      justify-content: center;
      width: 100%;
      --flex-gap:0.5rem;
      align-items: center;
      font-family: var(--font-poppins);
      text-transform: uppercase;
      color: hsl(var(--clr-black) / 0.5);
  }
  
  .cart >i{
      font-size: 5rem;
      margin-bottom: -2rem;
  }
  

/* ==========Header media queries========= */

/* =======Mobile=========== */
@media (max-width: 35em) {
  .primary-navigation {
    position: fixed;
    flex-direction: column;
    z-index: 999;
    text-align: center;
    --flex-gap: 1.7rem;
    inset: 0 0 0 0;
    background-color: hsl(var(--clr-gray-Light) / 0.9);
    padding: clamp(3rem, 30vh, 10rem) 0;
    transform: translateY(-100%);
    transition: transform 250ms ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateY(0%);
  }

  .primary-navigation a {
    font-size: var(--fs-bf-30);
  }

  .header-login {
    --flex-gap: 1.5rem;
    margin-left: 4rem;
  }
  .mobile-close-btn {
    display: block;
    z-index: 8888;
    top: 5rem;
    position: fixed;
    right: 10rem;
    border: 0;
    font-size: 3.3rem;
    cursor: pointer;
    transform: translateY(-300%);
    transition: transform 500ms ease-in-out;
  }

  .mobile-close-btn[data-visible="true"] {
    transform: translateY(0%);
  }
  .mobile-open-btn {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    /* margin-right: 12rem; */
  }

  .logo {
    width: 4rem;
    margin-inline: -15px;
  }

  .cart-icon{
    position: fixed;
    z-index: 9999;
}
}

/* ========Ipad========= */

@media (min-width: 35em) and (max-width: 59em) {
  .primary-navigation {
    position: fixed;
    flex-direction: column;
    z-index: 999;
    text-align: center;
    --flex-gap: 1.7rem;
    inset: 0 0 0 0;
    background-color: hsl(var(--clr-gray-Light) / 0.9);
    padding: clamp(3rem, 30vh, 10rem) 0;
    transform: translateY(-100%);
    transition: transform 250ms ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateY(0%);
  }

  .primary-navigation a {
    font-size: var(--fs-bf-30);
  }

  .header-login {
    --flex-gap: 1.5rem;
    margin-left: 4rem;
  }
  .mobile-close-btn {
    display: block;
    z-index: 8888;
    top: 5rem;
    position: fixed;
    right: 24rem;
    border: 0;
    font-size: 3.3rem;
    cursor: pointer;
    transform: translateY(-300%);
    transition: transform 500ms ease-in-out;
  }

  .mobile-close-btn[data-visible="true"] {
    transform: translateY(0%);
  }
  .mobile-open-btn {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    /* margin-right: 12rem; */
  }

  /* .logo {
    width: 4rem;
    margin-inline: -15px;
  } */

  .cart-icon{
    position: fixed;
    z-index: 9999;
}
}

/* ===Desktop======= */

@media(min-width:59em){
    .cart-icon{
        position: absolute;
        inset: 12% 5% 50% 60%;
        border-radius: 1rem;
        transform: translateX(150%);
        transition: transform 250ms ease-in-out;
        z-index: 222;
    }

    .cart-icon[data-visible="true"]{
        transform: translateX(0%);
    }

    .cart-icon .shopping{
        display: none;

    }

    .cart{
        padding-top: 4rem;
    }
}


/* =========Header End============ */

/* ===================================================== */

                 /* Hero section */

/* ===================================================== */

/* ======Utility classes====== */
.block{display: block;}
.uppercase{text-transform: uppercase;}
.lineheight{line-height: var(--line,3rem);}
.lineheight2{line-height: var(--line2,4rem);}

.large-btn{
  border: 0;
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.large-btn:hover{
  background-color: hsl(var(--cLr-black));
  box-shadow: 3px 2px 37px -6px rgba(255,255,255,0.69);
}

/* ===========Hero section Css============ */

.hero-section{
  width: 93vw;
  margin-inline: auto;
  padding-inline: 2rem;
  background-color: hsl(var(--clr-gray));
  border-radius: 2rem;
  padding-top: 5rem;
  /* padding-bottom: 1Srem; */

}

.hero-section >* img{
  margin-top: -8rem;
  margin-left: 4rem;
  width: 95vw;
}

.hero-inner{
  justify-content: space-between;
  align-items: center;
  --flex-gap : 5rem;
  margin-top: 1rem;
  padding-bottom:4rem ;
}
.hero-info{
  display:none;
}

/* =========ipadTablet ==================*/
@media (min-width: 35em) and (max-width:50em){
    .hero-section{
      width:  95vw;
      margin-inline: auto;
      padding-inline: 4rem;
      padding-top: 7rem;
    }

    .hero-section >* img {
      margin-top: -10rem;
      margin-bottom: 5rem;
    }

    .lineheight2{
      --line2:7rem;
    }
}

/* ==========desktop========= */

@media(min-width:59em){

   .hero-section{
    width: 95vw;
    margin-inline: auto;
    padding-inline: 8rem;
    padding-top:clamp(4rem,30vh,15rem) ;
   }

   .hero-section >* img{
     margin-top: -30rem;
   }

   .lineheight{
    --line:8rem;
   }
   .lineheight2{
    --line2:12rem
   }

   .hero-info{
    display: block;
    text-align: end;
    width: 25%;
   }
   .big-wireless{
    font-size: 5rem;
   }

   .hero-inner{
    margin-top: -4rem;
   }

}

/* =========product section======================== */

.product-section{
  width: 93vw;
  margin-inline: auto;
}


.category{
  border-radius: 2rem;
  grid-template-columns: repeat(2,1fr);
  align-items: flex-end;
  padding: 5rem 4rem;
  position: relative;
  overflow: hidden;
  z-index: 777;
  margin-block:1rem ;
}
.product-btn{
  margin-top: 1rem;
  padding-inline: 2rem;
}

.earphone{
  color: hsl(var(--clr-white)/0.2);
}

/* =======product============= */

.product-img1{
  position: absolute;
  top: -3.2rem;
  right: 3rem;
  z-index: -11;
}
.product-img2{
  position: absolute;
  top: 0.5rem;
  right: -6rem;
  z-index: -11;
}
.product-img3{
  position: absolute;
  width: 80%;
  top: 2.5rem;
  right: -3.4rem;
  z-index: -11;
}
.product-img4{
  position: absolute;
  width: 50%;
  top: 5rem;
  right: 1rem;
  z-index: -11;
}
.product-img5{
  position: absolute;
  top: 1rem;
  right: -3rem;
  z-index: -11;
}
.product-img6{
  position: absolute;
  top: 0.5rem;
  right: -4rem;
  z-index: -11;
}

/* ======= Building layout for Tab and desktop============ */


.category:nth-child(1){
  grid-area: one;
}
.category:nth-child(2){
  grid-area: two;
}
.category:nth-child(3){
  grid-area: three;
}
.category:nth-child(4){
  grid-area: four;
}
.category:nth-child(5){
  grid-area: five;
}
.category:nth-child(6){
  grid-area: six;
}

@media (min-width:35em) and (max-width:55em)
{

  .product-section{
    width: 95vw;
    display: grid;
    margin-inline: auto;
    margin-block: 2rem;
    gap: 1.5rem;
    grid-template-areas: 
    'one two'
    'three three'
    'six five'
    'four four';
  }

  .category{
    margin-block: 0rem;
  }

  .product-img3{
    right: -1rem;
    width: 60%;
  }

  .product-img5{
    position: absolute;
    top: 6rem;
  }
}

/* =======Desktop========= */

@media(min-width:59em){
  .product-section{
    width: 95vw;
    margin-inline: auto;
    margin-block: 2rem;
    gap: 1.5rem;
    display: grid;
    grid-template-areas: 
    'one two three three'
    'four four five six';
  }

  .product-img1{
    width: 100%;
    position: absolute;
    right: -1rem;
    top: 2rem;

  }


  .category .lineheight{
    --line:1rem;
   } 

   .earphone{
    font-size: var(--fs-bf-30);
   }
}

/* ===========Service section========== */

.service-section{
  width: 90vw;
  margin-inline: auto;
  margin-block: 2rem;
  display: grid;
  gap: 1.5rem;
  grid-template-areas: 
  'one two'
  'three four';
}

.service:nth-child(1){
  grid-area: one;
}
.service:nth-child(2){
  grid-area: two;
}
.service:nth-child(3){
  grid-area: three;
}
.service:nth-child(4){
  grid-area: four;
}

.service{
  display: grid;
  place-items: center;
  text-align: center;
  gap: 1rem;
}

.service .fs-200{
  font-size: 0.rem;
}

.service .fs-50{
  font-size: 0.79rem;
}

/* ===== Desktop ======= */

@media(min-width:59em){

  .service-section{
    width: 90vw;
    margin-inline: auto;
    display: grid;
    gap: 5rem;
    grid-template-areas: 'one two three four';
  }
}